:root {
    color-scheme: light dark;
    --text: light-dark(black, white);
    --background: light-dark(white, black);
    --active: gray;
    /* no need for light dark */
    --sub: light-dark(black, white);

    flex-wrap: wrap;

    --zoom: 1;
    zoom: var(--zoom);
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: 'Courier New', Courier, monospace;
}

.giveMeSomeSpace {
    padding-bottom: 20px;
}

.sticky {
    /* fixed at top but leave space in flow via content padding */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    z-index: 1000;
    background: linear-gradient(to bottom, var(--background) 0%, transparent 100%);
}

.header {
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
}

#help {
    margin: auto;
    text-align: center;
    color: var(--sub);
    padding-top: 0px;
}

#content {
    flex-wrap: wrap;
    margin-top: 75px;

}

div#content {
    justify-content: center;
}

.search {
    margin: auto;
    display: flex;
    padding-top: 0px;
    
}

.search input[type=text] {
    padding: 1px;
    border: solid;
    border-radius: 10px;
    border-color: var(--text);
    background-color: var(--background);
    color: var(--text);



    font-size: 17px;
    margin: auto;
    text-align: center;
}

.content {
    margin: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--sticky-height);
}

.emoticon {
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    border-width: 5px;
    border-style: solid;

    border-color: var(--active);
    color: var(--text);
    background-color: var(--background);
}

.emoticon:hover {
    border-color: var(--text);
}

.emoticon:active {
    border-color: var(--active);
}
